*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: cyan;
    height: 120px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding: 10px;
} 
.logo{
    float: left;
}
.logo span{
    color: blue;
}
.barra{
    float: right;
}
.barra li{
    list-style: none;
    display: inline-block;
}
.barra a{
    text-decoration: none;
    color: blue;
}
.barra a:hover{
    color: white;
}
.contenedor{
    height: 80vh;
    width: 100%;
    background-image: url(/img/florazul.jpg);
    background-size: cover;
    background-position: left;
}
h2{
    color: #fff;
    align-items: center;
}
p{
    color: #fff;
}